.cart-button {
  cursor: pointer;

  display: flex;
  align-items: center;
  justify-content: space-evenly;

  min-width: 155px;
  padding: 6px 20px;

  background-color: #ff5722;
  border: none;
  border-radius: 20px;

  &__image {
    width: 24px;
    height: 24px;
  }

  &__total-amount {
    font-size: 14px;
    font-weight: 700;
  }

  @media screen and (width <= 420px) {
    justify-content: space-between;
    min-width: 100px;
    margin-right: 10px;
    padding: 6px 15px;
  }
}
