.product-modal :global(.MuiPaper-root) {
  border-radius: 20px;
  height: 595px;
  display: flex;
  flex-direction: row;
  .product-modal__image {
    width: 50%;
    display: flex;
    align-items: center;
    padding: 20px;
    img {
      width: 100%;
    }
  }
  .product-modal__info {
    width: 50%;
    display: flex;
    flex-direction: column;
    background-color: var(--background-color-product-modal-info);
    padding: 25px 20px 10px;
    &-title {
      margin-bottom: 20px;
      color: var(--color-product-modal-title);
      h4 {
        font-size: 18px;
        font-weight: 700;
      }
    }
    &-description {
      font-size: 14px;
      font-weight: 500;
      color: var(--color-product-description);
      word-break: normal;
    }
    &-choose {
      margin-top: 15px;
      &-size {
        margin-bottom: 5px;
        font-size: 16px;
        font-weight: 500;
        color: var(--color-product-modal-size);
      }
    }

    &-footer {
      display: flex;
      flex-grow: 1;
      align-items: flex-end;
      margin: 0 -20px -10px;
    }
    &-price {
      font-size: 22px;
      font-weight: 700;
      line-height: 1;
      letter-spacing: -1px;
      color: var(--color-product-modal-price);
    }
    &-weight {
      font-size: 14px;
      font-weight: 500;
      color: var(--color-product-weight);
    }
    &-quantity {
      margin-left: 10px;
      font-size: 14px;
      font-weight: 500;
      color: var(--color-product-quantity);
    }
    &-variants-buy {
      display: flex;
      justify-content: space-between;

      width: 100%;
      padding: 15px 15px 15px 20px;
      border-radius: 0;
      box-shadow: 0 0 8px rgb(6 5 50/12%);
    }
  }
  .product-modal__close-icon:global(.MuiToolbar-root) {
    color: var(--color-product-modal-close-icon);
    position: absolute;
    right: 0;
    overflow: visible;
  }
}
