.categories {
  display: flex;
  align-items: center;
  justify-content: space-evenly;

  width: 100%;
  min-height: 80px;
  margin-top: 40px;
  padding-right: 10px;
  padding-left: 10px;

  background-color: var(--background-color-categories-nav);

  &__nav {
    overflow-x: auto;
    display: flex;
    align-items: center;

    margin-right: 10px;
    padding: 10px 0;

    font-size: 16px;
    text-align: center;
    font-weight: 600;

    &-link_active {
      width: fit-content;
      padding: 10px 20px;

      color: var(--color-categories-nav-active);
      text-decoration: none;

      box-shadow: inset 0 -3px 0 -1px var(--box-shadow-color-categories-nav-active);

      @media screen and (width <=420px) {
        padding: 10px;
        white-space: nowrap;
      }
    }

    &-link_unactive {
      width: fit-content;
      padding: 10px 20px;

      color: var(--color-categories-nav-unactive);
      text-decoration: none;

      border-bottom: 1px solid var(--border-bottom-color-categories-nav-unactive);

      &:hover {
        color: var(--color-categories-nav-active);
        box-shadow: inset 0 -3px 0 -1px var(--box-shadow-color-categories-nav-unactive-hover);
      }

      @media screen and (width <=420px) {
        padding: 10px;
        white-space: nowrap;
      }
    }
  }

  @media screen and (width <=420px) {
    justify-content: flex-start;
    font-size: 14px;
  }
}
