.container {
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;

  height: 100%;
  &__spinner {
    transform-origin: 0 0;
    transform: translateZ(0) scale(1);
    padding-left: 68px;
    padding-top: 68px;
    backface-visibility: hidden;
    div {
      box-sizing: content-box;
      width: 60px;
      height: 60px;

      border: 7px solid var(--color-spinner);
      border-top-color: transparent;
      border-radius: 50%;

      animation: spinner 0.7874s linear infinite;
    }
    @keyframes spinner {
      0% {
        transform: translate(-50%, -50%) rotate(0deg);
      }

      100% {
        transform: translate(-50%, -50%) rotate(360deg);
      }
    }
  }
}
