.category__header {
  margin: 20px 0 40px;
  font-size: inherit;
}

.category__products {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  margin-bottom: 25px;
}

@media screen and (width <= 420px) {
  .category__products {
    grid-template-columns: 1fr;
  }
}
