.container {
  display: flex;
  flex-direction: column;
  align-items: center;

  width: 100%;
  max-width: 850px;
  margin-top: 30px;
  margin-bottom: 25px;
}

.container__header,
.emptyCartsContainer__header {
  align-self: flex-start;
}

.container__header h1 {
  font-size: 42px;
  font-weight: 700;
}

.emptyCartsContainer__header h1 {
  font-size: 42px;
  font-weight: 700;
}

.cartsContainer,
.emptyCartsContainer {
  align-self: flex-start;
  width: 100%;
  margin-top: 50px;
  border-bottom: 1px solid #eee;
}

.emptyCartsContainer {
  border: none;
}

.cartsContainer__header {
  margin-bottom: 20px;
}

.cartsContainer__header h2 {
  font-size: 24px;
  font-weight: 700;
}

.emptyCartsContainer__link {
  display: block;
  font-size: 16px;
  font-weight: 600;
  color: #ff5722;
}

.totalPriceContainer {
  display: flex;
  flex-direction: column;
  row-gap: 15px;
  align-self: flex-end;

  margin-top: 30px;

  font-size: 24px;
  font-weight: 700;
}

.totalPriceContainer__totalPrice {
  color: #ff5722;
}
