.cart {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  height: 100%;
  width: 100%;
  max-width: 898px;
  margin-top: 30px;
  margin-bottom: 25px;
  padding-left: 24px;
  padding-right: 24px;
  &__header {
    font-size: 42px;
    font-weight: 700;
    margin-bottom: 30px;
  }
  &__empty {
    &-image {
      max-width: 150px;
    }
    &-header {
      font-size: 26px;
      font-weight: 700;
      margin-bottom: 8px;
    }
    &-text {
      font-size: 16px;
      font-weight: 500;
      margin-bottom: 16px;
    }
    &-link {
      font-size: 16px;
      font-weight: 600;
      color: var(--color-link-empty-cart);
    }
  }
  &__items {
    width: 100%;
    border-bottom: 1px solid var(--border-color-cart-item);
    &-header {
      font-size: 24px;
      font-weight: 700;
      margin-bottom: 20px;
    }
  }
  &__finish {
    display: flex;
    flex-direction: column;
    row-gap: 15px;
    align-self: flex-end;

    margin-top: 30px;

    font-size: 24px;
    font-weight: 700;
    &-price {
      display: flex;
      justify-content: space-between;
      span {
        color: var(--color-finish-price);
      }
    }
  }
}
