.product-modal__toggle-buttons:global(.MuiToggleButtonGroup-root) {
  padding: 3px;
  background-color: var(--background-color-product-modal-info-toggle-buttons);
  border-radius: 20px;
  width: 100%;
  .product-modal__toggle-button:global(.MuiButtonBase-root) {
    width: 50%;
    font-weight: 600;
    color: var(--color-product-modal-info-toggle-button);
    border: none;
    font-size: 14px;
    padding: 2px;
    border-radius: 20px;
    text-transform: lowercase;
    &:hover {
      background-color: inherit;
    }
  }
  .product-modal__toggle-button:global(.Mui-selected) {
    background-color: var(--background-color-product-modal-info-toggle-button-active);
    &:hover {
      background-color: var(--background-color-product-modal-info-toggle-button-active);
    }
  }
}
