.navigationBar {
  display: flex;
  column-gap: 18px;

  width: 100%;
  margin-top: 20px;
  padding: 0 24px;

  font-size: 18px;
}

.navigationBar_linkUnactive {
  color: #333;
  text-decoration: none;
}

.navigationBar_linkUnactive:hover {
  color: #ff5722;
}

.navigationBar_linkActive {
  font-weight: 600;
  color: #ff5722;
  text-decoration: none;
}
