*,
*::before,
*::after {
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

body {
  scrollbar-gutter: stable;

  overflow: auto scroll;
  display: flex;

  width: 100%;
  min-width: 320px;
  min-height: 100vh;
  margin: 0;

  font-family: system-ui, Helvetica, Arial, sans-serif;

  color-scheme: light dark;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#root {
  width: 100%;
  margin: 0 auto;
}
