$white-1: #ffffff;
$white-2: #f3f4f4;
$white-3: #f0f3f0;
$white-3: #f3f3f7;
$white-4: #eee;
$white-5: #f2f3f5;
$white-6: #dee2e6;

$black-1: #000;
$black-2: #333333;
$black-3: #23272f;
$black-4: #192734;

$orange-1: #ff5722;
$orange-2: #e34b1c;

$grey-1: #9b9b9b;
$grey-2: #929294;
$grey-3: #696969;
$grey-4: #999999;
$grey-5: #5c6370;
$grey-6: #aaa;
$grey-7: #0000001a;
$grey-8: #666666;
$grey-9: #5a5b57;

$yellow-1: #f7ef05;
