.notFound {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  height: 500px;

  font-size: 2rem;
  text-align: center;
}

.notFound__link {
  padding-top: 30px;
}

.notFound__button {
  padding: 10px 30px;

  font-size: 1.8rem;
  color: rgb(225 225 26);

  background-color: rgb(23 22 22);
  border: none;
  border-radius: 10px;
}
